* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
}

.title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: green;
  color: white;
  min-height: 20vh;
  max-height: auto;
}

h1 {
  font-family: sans-serif;
  font-size: 2.5rem;
  margin: 0.5%;
}
p {
  margin: 0.5%;
  font-size: 1.5rem;
}

.table-responsive {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 5% 10%;
}

table,
th,
td {
  border: 1px solid;
}
.table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
}

.buttons {
  display: flex;
  margin: auto;
  justify-content: center;
}

.buttons button {
  padding: 0% 0.5%;
}
